Repository fnalabs/hive-io: changes, and which Codecov flags are due for each by the changed paths.
All: library, containers, examples

codecov.yml:

flags:
  library:
    paths:
      - packages/hive-js/src/
    carryforward: true
  containers:
    paths:
      - containers/hive-base-js/src/
      - containers/hive-consumer-js/src/
      - containers/hive-producer-js/src/
      - containers/hive-stream-processor-js/src/
    carryforward: true
  examples:
    paths:
      - packages/hive-js-domain-example/src/
      - packages/hive-js-rest-example/src/
    carryforward: true

coverage:
  status:
    changes: off
    patch: off
    project:
      default:
        target: 90%
        threshold: 0%
      library:
        target: 90%
        threshold: 0%
        flags:
          - library
      containers:
        target: 90%
        threshold: 0%
        flags:
          - containers
      examples:
        target: 90%
        threshold: 0%
        flags:
          - examples

updating docs for latest release candidate (8) (#25)
  docs/Actor.html
  docs/MessageActor.html
  docs/Model.html
  docs/Schema.html
  docs/System.html
  docs/index.html
Due: none

moving dev dependencies to reduce production image size
  containers/hive-base-js/Dockerfile
  containers/hive-base-js/bin/install
  containers/hive-consumer-js/Dockerfile
  containers/hive-consumer-js/bin/install
  containers/hive-producer-js/Dockerfile
  containers/hive-producer-js/bin/install
  containers/hive-stream-processor-js/Dockerfile
  containers/hive-stream-processor-js/bin/install
Due: none

moving dev dependencies to reduce production image size (#26)
  containers/hive-base-js/Dockerfile
  containers/hive-base-js/bin/install
  containers/hive-consumer-js/Dockerfile
  containers/hive-consumer-js/bin/install
  containers/hive-producer-js/Dockerfile
  containers/hive-producer-js/bin/install
  containers/hive-stream-processor-js/Dockerfile
  containers/hive-stream-processor-js/bin/install
Due: none

updating dependencies and devDependencies across the project
  containers/hive-base-js/package.json
  containers/hive-consumer-js/package.json
  containers/hive-producer-js/package.json
  containers/hive-stream-processor-js/package.json
  package.json
  packages/hive-js-domain-example/package.json
  packages/hive-js-rest-example/package.json
Due: none

updating Node.js LTS to v14.15.1
  .circleci/config.yml
  containers/hive-base-js/Dockerfile
  containers/hive-consumer-js/Dockerfile
  containers/hive-producer-js/Dockerfile
  containers/hive-stream-processor-js/Dockerfile
Due: none

updating Babel config for new Node.js LTS native support
  containers/hive-base-js/babel.config.json
  containers/hive-consumer-js/babel.config.json
  containers/hive-producer-js/babel.config.json
  containers/hive-stream-processor-js/babel.config.json
Due: none

updating READMEs across the project
  containers/hive-base-js/README.md
  containers/hive-consumer-js/README.md
  containers/hive-producer-js/README.md
  containers/hive-stream-processor-js/README.md
  packages/hive-js-domain-example/README.md
  packages/hive-js-rest-example/README.md
Due: none

Update dependencies and documentation for v2 release (#27)
  .circleci/config.yml
  containers/hive-base-js/Dockerfile
  containers/hive-base-js/README.md
  containers/hive-base-js/babel.config.json
  containers/hive-base-js/package.json
  containers/hive-consumer-js/Dockerfile
  containers/hive-consumer-js/README.md
  containers/hive-consumer-js/babel.config.json
  containers/hive-consumer-js/package.json
  containers/hive-producer-js/Dockerfile
  containers/hive-producer-js/README.md
  containers/hive-producer-js/babel.config.json
  containers/hive-producer-js/package.json
  containers/hive-stream-processor-js/Dockerfile
  containers/hive-stream-processor-js/README.md
  containers/hive-stream-processor-js/babel.config.json
  containers/hive-stream-processor-js/package.json
  package.json
  packages/hive-js-domain-example/README.md
  packages/hive-js-domain-example/package.json
  packages/hive-js-rest-example/README.md
  packages/hive-js-rest-example/package.json
Due: none

v2.0.0
  containers/hive-base-js/package.json
  containers/hive-consumer-js/package.json
  containers/hive-producer-js/package.json
  containers/hive-stream-processor-js/package.json
  lerna.json
  packages/hive-js-domain-example/package.json
  packages/hive-js-rest-example/package.json
  packages/hive-js/package.json
Due: none

updating docs for v2 release
  docs/Actor.html
  docs/MessageActor.html
  docs/Model.html
  docs/Schema.html
  docs/System.html
  docs/index.html
Due: none

updating docs for v2 release (#28)
  docs/Actor.html
  docs/MessageActor.html
  docs/Model.html
  docs/Schema.html
  docs/System.html
  docs/index.html
Due: none

updating dependencies and adding OpenTelemetry dependencies
  containers/hive-base-js/package.json
  containers/hive-consumer-js/package.json
  containers/hive-producer-js/package.json
  containers/hive-stream-processor-js/package.json
  packages/hive-js-domain-example/package.json
  packages/hive-js-rest-example/package.json
Due: none

initial implementation of OpenTelemetry for 'hive-base-js'
  containers/hive-base-js/src/config.js
  containers/hive-base-js/src/index.js
  containers/hive-base-js/src/telemetry.js
  containers/hive-base-js/tst/index.spec.js
  containers/hive-base-js/tst/telemetry.spec.js
Due: containers

initial implementation of OpenTelemetry for 'hive-consumer-js'
  containers/hive-consumer-js/src/config.js
  containers/hive-consumer-js/src/index.js
  containers/hive-consumer-js/src/telemetry.js
  containers/hive-consumer-js/tst/index.spec.js
  containers/hive-consumer-js/tst/telemetry.spec.js
Due: containers

initial implementation of OpenTelemetry for 'hive-producer-js'
  containers/hive-producer-js/src/config.js
  containers/hive-producer-js/src/index.js
  containers/hive-producer-js/src/telemetry.js
  containers/hive-producer-js/tst/index.spec.js
  containers/hive-producer-js/tst/telemetry.spec.js
Due: containers

initial implementation of OpenTelemetry for 'hive-stream-processor-js'
  containers/hive-stream-processor-js/src/config.js
  containers/hive-stream-processor-js/src/index.js
  containers/hive-stream-processor-js/src/telemetry.js
  containers/hive-stream-processor-js/tst/index.spec.js
  containers/hive-stream-processor-js/tst/telemetry.spec.js
Due: containers

refactored 'hive-js-rest-example' for a more generic naming convention
  packages/hive-js-rest-example/src/actors/ContentActor.js
  packages/hive-js-rest-example/src/actors/LogActor.js
  packages/hive-js-rest-example/src/actors/PostActor.js
  packages/hive-js-rest-example/src/actors/actions/DeleteContentActor.js
  packages/hive-js-rest-example/src/actors/actions/DeletePostActor.js
  packages/hive-js-rest-example/src/actors/actions/GetContentActor.js
  packages/hive-js-rest-example/src/actors/actions/GetPostActor.js
  packages/hive-js-rest-example/src/actors/actions/PostContentActor.js
  packages/hive-js-rest-example/src/actors/actions/PostPostActor.js
  packages/hive-js-rest-example/src/actors/actions/PutContentActor.js
  packages/hive-js-rest-example/src/actors/actions/PutPostActor.js
  packages/hive-js-rest-example/src/actors/actions/index.js
  packages/hive-js-rest-example/src/actors/index.js
  packages/hive-js-rest-example/src/config.js
  packages/hive-js-rest-example/src/schemas/json/Content.json
  packages/hive-js-rest-example/src/schemas/json/Log.json
  packages/hive-js-rest-example/src/schemas/mongoose/Content.js
  packages/hive-js-rest-example/src/systems/LogSystem.js
  packages/hive-js-rest-example/src/util/fluentConnect.js
  packages/hive-js-rest-example/tst/actors/ContentActor.spec.js
  packages/hive-js-rest-example/tst/actors/LogActor.spec.js
  packages/hive-js-rest-example/tst/systems/LogSystem.spec.js
Due: examples

refactored 'hive-js-domain-example' for a more generic naming convention
  packages/hive-js-domain-example/src/actors/LogActor.js
  packages/hive-js-domain-example/src/actors/ViewActor.js
  packages/hive-js-domain-example/src/actors/content/ContentCommandActor.js
  packages/hive-js-domain-example/src/actors/content/ContentEventActor.js
  packages/hive-js-domain-example/src/actors/content/ContentQueryActor.js
  packages/hive-js-domain-example/src/actors/content/index.js
  packages/hive-js-domain-example/src/actors/index.js
  packages/hive-js-domain-example/src/actors/messages/CreateContentActor.js
  packages/hive-js-domain-example/src/actors/messages/DisableContentActor.js
  packages/hive-js-domain-example/src/actors/messages/EditContentActor.js
  packages/hive-js-domain-example/src/actors/messages/EnableContentActor.js
  packages/hive-js-domain-example/src/actors/messages/ViewContentActor.js
  packages/hive-js-domain-example/src/actors/post/PostEventActor.js
  packages/hive-js-domain-example/src/actors/post/PostQueryActor.js
  packages/hive-js-domain-example/src/actors/post/index.js
  packages/hive-js-domain-example/src/config.js
  packages/hive-js-domain-example/src/schemas/json/Content.json
  packages/hive-js-domain-example/src/schemas/json/ContentId.json
  packages/hive-js-domain-example/src/schemas/json/Log.json
  packages/hive-js-domain-example/src/schemas/json/Post.json
  packages/hive-js-domain-example/src/schemas/json/PostId.json
  packages/hive-js-domain-example/src/schemas/json/Text.json
  packages/hive-js-domain-example/src/schemas/json/View.json
  packages/hive-js-domain-example/src/schemas/json/commands/CreateContent.json
  packages/hive-js-domain-example/src/schemas/json/commands/EditContent.json
  packages/hive-js-domain-example/src/schemas/json/events/CreatedContent.json
  packages/hive-js-domain-example/src/schemas/json/events/DisabledContent.json
  packages/hive-js-domain-example/src/schemas/json/events/EditedContent.json
  packages/hive-js-domain-example/src/schemas/json/events/EnabledContent.json
  packages/hive-js-domain-example/src/schemas/json/events/ViewedContent.json
  packages/hive-js-domain-example/src/schemas/mongoose/Content.js
  packages/hive-js-domain-example/src/systems/LogSystem.js
  packages/hive-js-domain-example/src/util/fluentConnect.js
  packages/hive-js-domain-example/tst/actors/ContentCommandActor.spec.js
  packages/hive-js-domain-example/tst/actors/ContentEventActor.spec.js
  packages/hive-js-domain-example/tst/actors/ContentQueryActor.spec.js
  packages/hive-js-domain-example/tst/actors/LogActor.spec.js
  packages/hive-js-domain-example/tst/actors/ViewActor.spec.js
  packages/hive-js-domain-example/tst/systems/LogSystem.spec.js
Due: examples

updating dev proxy dependencies and config
  dev/proxy/Dockerfile
  dev/proxy/haproxy.cfg
Due: none

adding initial OpenTelemetry Collector config for development
  dev/collector/collector-config.yml
Due: none

adding 'Bus' alias for 'System' message bus implementation
  packages/hive-js/index.js
  packages/hive-js/src/System/BaseSystem.js
Due: library

updating npm scripts and dev dependencies for project
  package.json
  packages/hive-js/package.json
Due: none

updating docker-compose files for development
  dev/docker/domain/development/docker-compose.yml
  dev/docker/domain/production/docker-compose.yml
  dev/docker/rest/development/docker-compose.yml
  dev/docker/rest/production/docker-compose.yml
Due: none

updating container and example READMEs for OpenTelemetry integration
  containers/hive-base-js/README.md
  containers/hive-consumer-js/README.md
  containers/hive-producer-js/README.md
  containers/hive-stream-processor-js/README.md
  packages/hive-js-domain-example/README.md
  packages/hive-js-rest-example/README.md
Due: none

updating CircleCI config with changed 'initialize' script
  .circleci/config.yml
Due: none

updating Postman collections for testing
  dev/docker/domain/Hive^io_CQRS-ES_example.postman_collection.json
  dev/docker/rest/Hive^io_REST_example.postman_collection.json
Due: none

v2.1.0
  containers/hive-base-js/package.json
  containers/hive-consumer-js/package.json
  containers/hive-producer-js/package.json
  containers/hive-stream-processor-js/package.json
  lerna.json
  packages/hive-js-domain-example/package.json
  packages/hive-js-rest-example/package.json
  packages/hive-js/package.json
Due: none

fixing broken reference for REST production docker-compose
  dev/docker/rest/production/docker-compose.yml
Due: none

updating documentation for 2.1.0 release
  docs/Actor.html
  docs/Bus.html
  docs/MessageActor.html
  docs/Model.html
  docs/Schema.html
  docs/index.html
  packages/hive-js/README.md
  packages/hive-js/package.json
  packages/hive-js/src/System/BaseSystem.js
Due: library

Update docs for 2.1.0 release (#32)
  dev/docker/rest/production/docker-compose.yml
  docs/Actor.html
  docs/Bus.html
  docs/MessageActor.html
  docs/Model.html
  docs/Schema.html
  docs/index.html
  packages/hive-js/README.md
  packages/hive-js/package.json
  packages/hive-js/src/System/BaseSystem.js
Due: library

chore: updating dependencies and devDependencies
  containers/hive-base-js/package.json
  containers/hive-consumer-js/package.json
  containers/hive-producer-js/package.json
  containers/hive-stream-processor-js/package.json
  packages/hive-js-domain-example/package.json
  packages/hive-js-rest-example/package.json
  packages/hive-js/package.json
Due: none

chore: updating Node.js from 14.15.1 to 14.15.3
  .circleci/config.yml
  containers/hive-base-js/Dockerfile
  containers/hive-consumer-js/Dockerfile
  containers/hive-producer-js/Dockerfile
  containers/hive-stream-processor-js/Dockerfile
Due: none

refactor: updated container config and base telemetry attributes
  containers/hive-base-js/src/config.js
  containers/hive-base-js/src/telemetry.js
  containers/hive-consumer-js/src/config.js
  containers/hive-consumer-js/src/telemetry.js
  containers/hive-producer-js/src/config.js
  containers/hive-producer-js/src/telemetry.js
  containers/hive-stream-processor-js/src/config.js
  containers/hive-stream-processor-js/src/telemetry.js
Due: containers

fix: modifying OpenTelemetry implementation for breaking changes from 0.13.0 to 0.14.0
  containers/hive-base-js/src/index.js
  containers/hive-base-js/tst/index.spec.js
  containers/hive-consumer-js/src/index.js
  containers/hive-consumer-js/tst/index.spec.js
  containers/hive-producer-js/src/index.js
  containers/hive-producer-js/tst/index.spec.js
  containers/hive-stream-processor-js/src/index.js
  containers/hive-stream-processor-js/tst/index.spec.js
Due: containers

refactor(hive-io-rest-example): adding error handling and unit tests
  packages/hive-js-rest-example/src/actors/ContentActor.js
  packages/hive-js-rest-example/src/actors/actions/DeleteContentActor.js
  packages/hive-js-rest-example/src/actors/actions/GetContentActor.js
  packages/hive-js-rest-example/src/actors/actions/PostContentActor.js
  packages/hive-js-rest-example/src/actors/actions/PutContentActor.js
  packages/hive-js-rest-example/src/config.js
  packages/hive-js-rest-example/tst/actors/ContentActor.spec.js
Due: examples

refactor(hive-io-domain-example): adding error handling and unit tests
  packages/hive-js-domain-example/src/actors/content/ContentCommandActor.js
  packages/hive-js-domain-example/src/actors/content/ContentEventActor.js
  packages/hive-js-domain-example/src/actors/content/ContentQueryActor.js
  packages/hive-js-domain-example/src/actors/messages/CreateContentActor.js
  packages/hive-js-domain-example/src/actors/messages/DisableContentActor.js
  packages/hive-js-domain-example/src/actors/messages/EditContentActor.js
  packages/hive-js-domain-example/src/actors/messages/EnableContentActor.js
  packages/hive-js-domain-example/src/actors/messages/ViewContentActor.js
  packages/hive-js-domain-example/src/config.js
  packages/hive-js-domain-example/tst/actors/ContentEventActor.spec.js
  packages/hive-js-domain-example/tst/actors/ContentQueryActor.spec.js
  packages/hive-js-domain-example/tst/actors/ViewActor.spec.js
  packages/hive-js-domain-example/tst/actors/ViewContentActor.spec.js
Due: examples

chore: removing README from .npmignore
  packages/hive-js-domain-example/.npmignore
  packages/hive-js-rest-example/.npmignore
  packages/hive-js/.npmignore
Due: none

docs: updating LICENSEs to remove dates and other boilerplate text
  containers/hive-base-js/LICENSE
  containers/hive-consumer-js/LICENSE
  containers/hive-producer-js/LICENSE
  containers/hive-stream-processor-js/LICENSE
  packages/hive-js-domain-example/LICENSE
  packages/hive-js-rest-example/LICENSE
  packages/hive-js/LICENSE
Due: none

docs: updating READMEs with various improvements
  containers/hive-base-js/README.md
  containers/hive-consumer-js/README.md
  containers/hive-producer-js/README.md
  containers/hive-stream-processor-js/README.md
  packages/hive-js-domain-example/README.md
  packages/hive-js-rest-example/README.md
Due: none
