Repository fnalabs/hive-io: changes, and which Codecov flags are due for each by the changed paths.
All: library, containers, examples

codecov.yml:

flags:
  library:
    paths:
      - packages/hive-js/src/
    carryforward: true
  containers:
    paths:
      - containers/hive-base-js/src/
      - containers/hive-consumer-js/src/
      - containers/hive-producer-js/src/
      - containers/hive-stream-processor-js/src/
    carryforward: true
  examples:
    paths:
      - packages/hive-js-domain-example/src/
      - packages/hive-js-rest-example/src/
    carryforward: true

coverage:
  status:
    changes: off
    patch: off
    project:
      default:
        target: 90%
        threshold: 0%
      library:
        target: 90%
        threshold: 0%
        flags:
          - library
      containers:
        target: 90%
        threshold: 0%
        flags:
          - containers
      examples:
        target: 90%
        threshold: 0%
        flags:
          - examples

test: updating docker-compose.yml files for developing and testing
  dev/docker/domain/development/docker-compose.yml
  dev/docker/domain/production/docker-compose.yml
  dev/docker/rest/development/docker-compose.yml
  dev/docker/rest/production/docker-compose.yml
Due: none

v2.1.1
  containers/hive-base-js/package.json
  containers/hive-consumer-js/package.json
  containers/hive-producer-js/package.json
  containers/hive-stream-processor-js/package.json
  lerna.json
  packages/hive-js-domain-example/package.json
  packages/hive-js-rest-example/package.json
  packages/hive-js/package.json
Due: none

docs: updating autogenerated docs for v2.1.1 release
  docs/Actor.html
  docs/Bus.html
  docs/MessageActor.html
  docs/Model.html
  docs/Schema.html
  docs/System.html
  docs/index.html
Due: none

docs: updating autogenerated docs for v2.1.1 release (#34)
  docs/Actor.html
  docs/Bus.html
  docs/MessageActor.html
  docs/Model.html
  docs/Schema.html
  docs/System.html
  docs/index.html
Due: none

chore: updating all dependencies and devDependencies
  containers/hive-base-js/package.json
  containers/hive-consumer-js/package.json
  containers/hive-producer-js/package.json
  containers/hive-stream-processor-js/package.json
  packages/hive-js-domain-example/package.json
  packages/hive-js-rest-example/package.json
Due: none

chore: updating Node.js to 14.15.4 and prep for new images
  .circleci/config.yml
  containers/hive-base-js/Dockerfile
  containers/hive-base-js/bin/install
  containers/hive-base-js/src/config.js
  containers/hive-consumer-js/Dockerfile
  containers/hive-consumer-js/bin/install
  containers/hive-consumer-js/src/config.js
  containers/hive-producer-js/Dockerfile
  containers/hive-producer-js/bin/install
  containers/hive-producer-js/src/config.js
  containers/hive-stream-processor-js/Dockerfile
  containers/hive-stream-processor-js/bin/install
  containers/hive-stream-processor-js/src/config.js
Due: containers

feat: adding image variations for broader support
  containers/hive-base-js/Dockerfile.full
  containers/hive-base-js/Dockerfile.slim
  containers/hive-consumer-js/Dockerfile.full
  containers/hive-consumer-js/Dockerfile.slim
  containers/hive-producer-js/Dockerfile.full
  containers/hive-producer-js/Dockerfile.slim
  containers/hive-stream-processor-js/Dockerfile.full
  containers/hive-stream-processor-js/Dockerfile.slim
Due: none

chore: updating development configs and dependencies
  dev/docker/domain/development/docker-compose.yml
  dev/docker/domain/production/docker-compose.yml
  dev/docker/rest/development/docker-compose.yml
  dev/docker/rest/production/docker-compose.yml
  dev/proxy/Dockerfile
Due: none

fix: improvements to container span names and data
  containers/hive-base-js/src/index.js
  containers/hive-base-js/tst/index.spec.js
  containers/hive-consumer-js/src/index.js
  containers/hive-consumer-js/tst/index.spec.js
  containers/hive-producer-js/src/index.js
  containers/hive-producer-js/tst/index.spec.js
  containers/hive-stream-processor-js/src/index.js
  containers/hive-stream-processor-js/tst/index.spec.js
Due: containers

fix: improvements to 'hive-js-rest-example' span names and data
  packages/hive-js-rest-example/src/actors/ContentActor.js
  packages/hive-js-rest-example/src/actors/actions/DeleteContentActor.js
  packages/hive-js-rest-example/src/actors/actions/GetContentActor.js
  packages/hive-js-rest-example/src/actors/actions/PostContentActor.js
  packages/hive-js-rest-example/src/actors/actions/PutContentActor.js
Due: examples

fix: improvements to 'hive-js-domain-example' span names and data
  packages/hive-js-domain-example/src/actors/content/ContentCommandActor.js
  packages/hive-js-domain-example/src/actors/content/ContentEventActor.js
  packages/hive-js-domain-example/src/actors/content/ContentQueryActor.js
  packages/hive-js-domain-example/src/actors/messages/CreateContentActor.js
  packages/hive-js-domain-example/src/actors/messages/DisableContentActor.js
  packages/hive-js-domain-example/src/actors/messages/EditContentActor.js
  packages/hive-js-domain-example/src/actors/messages/EnableContentActor.js
  packages/hive-js-domain-example/src/actors/messages/ViewContentActor.js
Due: examples

fix: resolving issue with 'hive-js-domain-example' and no ssl defined
  packages/hive-js-domain-example/src/config.js
  packages/hive-js-domain-example/src/util/httpConnect.js
Due: examples

docs: updating example READMEs and adding example testing
  dev/docker/domain/example/Consumer.dockerfile
  dev/docker/domain/example/Producer.dockerfile
  dev/docker/domain/example/Proxy.dockerfile
  dev/docker/domain/example/Rest.dockerfile
  dev/docker/domain/example/Stream-Processor.dockerfile
  dev/docker/domain/example/docker-compose.yml
  dev/docker/domain/example/haproxy.cfg
  dev/docker/rest/example/Dockerfile
  dev/docker/rest/example/docker-compose.yml
  package.json
  packages/hive-js-domain-example/README.md
  packages/hive-js-rest-example/README.md
Due: none

v2.1.2
  containers/hive-base-js/package.json
  containers/hive-consumer-js/package.json
  containers/hive-producer-js/package.json
  containers/hive-stream-processor-js/package.json
  lerna.json
  packages/hive-js-domain-example/package.json
  packages/hive-js-rest-example/package.json
  packages/hive-js/package.json
Due: none

fix: updating example compose and config files
  dev/docker/domain/development/docker-compose.yml
  dev/docker/domain/example/Proxy.dockerfile
  dev/docker/domain/example/docker-compose.yml
  dev/docker/domain/example/haproxy.cfg
  dev/docker/rest/example/docker-compose.yml
Due: none

docs: updating REST example README
  packages/hive-js-rest-example/README.md
Due: none

docs: updating Domain example README to use SSL with supporting info
  packages/hive-js-domain-example/README.md
Due: none

Fix examples (#37)
  dev/docker/domain/development/docker-compose.yml
  dev/docker/domain/example/Proxy.dockerfile
  dev/docker/domain/example/docker-compose.yml
  dev/docker/domain/example/haproxy.cfg
  dev/docker/rest/example/docker-compose.yml
  packages/hive-js-domain-example/README.md
  packages/hive-js-rest-example/README.md
Due: none

fix: renaming telemetry lib name to be the container name
  containers/hive-base-js/src/config.js
  containers/hive-consumer-js/src/config.js
  containers/hive-producer-js/src/config.js
  containers/hive-stream-processor-js/src/config.js
Due: containers

fix: adding code to determine accurate OS description
  containers/hive-base-js/src/telemetry.js
  containers/hive-consumer-js/src/telemetry.js
  containers/hive-producer-js/src/telemetry.js
  containers/hive-stream-processor-js/src/telemetry.js
Due: containers

fix: removing 'hive^io' and dashes from span names
  containers/hive-base-js/src/index.js
  containers/hive-consumer-js/src/index.js
  containers/hive-producer-js/src/index.js
  containers/hive-stream-processor-js/src/index.js
Due: containers

test: updating unit tests for span name changes
  containers/hive-base-js/tst/index.spec.js
  containers/hive-consumer-js/tst/index.spec.js
  containers/hive-producer-js/tst/index.spec.js
  containers/hive-stream-processor-js/tst/index.spec.js
Due: none

Fix telemetry semantic data (#39)
  containers/hive-base-js/src/config.js
  containers/hive-base-js/src/index.js
  containers/hive-base-js/src/telemetry.js
  containers/hive-base-js/tst/index.spec.js
  containers/hive-consumer-js/src/config.js
  containers/hive-consumer-js/src/index.js
  containers/hive-consumer-js/src/telemetry.js
  containers/hive-consumer-js/tst/index.spec.js
  containers/hive-producer-js/src/config.js
  containers/hive-producer-js/src/index.js
  containers/hive-producer-js/src/telemetry.js
  containers/hive-producer-js/tst/index.spec.js
  containers/hive-stream-processor-js/src/config.js
  containers/hive-stream-processor-js/src/index.js
  containers/hive-stream-processor-js/src/telemetry.js
  containers/hive-stream-processor-js/tst/index.spec.js
Due: containers

feat: adding telemetry semantic conventions for Kafka integration
  containers/hive-consumer-js/src/index.js
  containers/hive-producer-js/src/store.js
  containers/hive-stream-processor-js/src/index.js
  containers/hive-stream-processor-js/src/store.js
Due: containers

test: updating unit tests for telemetry changes for Kafka
  containers/hive-producer-js/tst/store.spec.js
  containers/hive-stream-processor-js/tst/store.spec.js
Due: none

test: fixing broken tests with better mocks
  packages/hive-js-domain-example/tst/actors/ContentQueryActor.spec.js
  packages/hive-js-domain-example/tst/actors/ViewActor.spec.js
Due: none

Improve telemetry meta for Kafka integration (#41)
  containers/hive-consumer-js/src/index.js
  containers/hive-producer-js/src/store.js
  containers/hive-producer-js/tst/store.spec.js
  containers/hive-stream-processor-js/src/index.js
  containers/hive-stream-processor-js/src/store.js
  containers/hive-stream-processor-js/tst/store.spec.js
  packages/hive-js-domain-example/tst/actors/ContentQueryActor.spec.js
  packages/hive-js-domain-example/tst/actors/ViewActor.spec.js
Due: containers

fix: removing 'container.image.name' from default trace data
  containers/hive-base-js/src/telemetry.js
  containers/hive-consumer-js/src/telemetry.js
  containers/hive-producer-js/src/telemetry.js
  containers/hive-stream-processor-js/src/telemetry.js
Due: containers

fix: removing overuse of SpanKind.SERVER in containers
  containers/hive-base-js/src/index.js
  containers/hive-consumer-js/src/index.js
  containers/hive-producer-js/src/index.js
  containers/hive-stream-processor-js/src/index.js
Due: containers

fix: removing overuse of SpanKind.SERVER in examples
  packages/hive-js-domain-example/src/actors/content/ContentCommandActor.js
  packages/hive-js-domain-example/src/actors/content/ContentEventActor.js
  packages/hive-js-domain-example/src/actors/content/ContentQueryActor.js
  packages/hive-js-domain-example/src/actors/messages/CreateContentActor.js
  packages/hive-js-domain-example/src/actors/messages/DisableContentActor.js
  packages/hive-js-domain-example/src/actors/messages/EditContentActor.js
  packages/hive-js-domain-example/src/actors/messages/EnableContentActor.js
  packages/hive-js-domain-example/src/actors/messages/ViewContentActor.js
  packages/hive-js-rest-example/src/actors/ContentActor.js
  packages/hive-js-rest-example/src/actors/actions/DeleteContentActor.js
  packages/hive-js-rest-example/src/actors/actions/GetContentActor.js
  packages/hive-js-rest-example/src/actors/actions/PostContentActor.js
  packages/hive-js-rest-example/src/actors/actions/PutContentActor.js
Due: examples

test: adding friendly service names to compose configs
  dev/docker/domain/development/docker-compose.yml
  dev/docker/domain/example/docker-compose.yml
  dev/docker/domain/production/docker-compose.yml
  dev/docker/rest/development/docker-compose.yml
  dev/docker/rest/example/docker-compose.yml
  dev/docker/rest/production/docker-compose.yml
Due: none

docs: updating example READMEs with friendly service names
  packages/hive-js-domain-example/README.md
  packages/hive-js-rest-example/README.md
Due: none

fix: overuse of SpanKind.SERVER (#42)
  containers/hive-base-js/src/index.js
  containers/hive-base-js/src/telemetry.js
  containers/hive-consumer-js/src/index.js
  containers/hive-consumer-js/src/telemetry.js
  containers/hive-producer-js/src/index.js
  containers/hive-producer-js/src/telemetry.js
  containers/hive-stream-processor-js/src/index.js
  containers/hive-stream-processor-js/src/telemetry.js
  dev/docker/domain/development/docker-compose.yml
  dev/docker/domain/example/docker-compose.yml
  dev/docker/domain/production/docker-compose.yml
  dev/docker/rest/development/docker-compose.yml
  dev/docker/rest/example/docker-compose.yml
  dev/docker/rest/production/docker-compose.yml
  packages/hive-js-domain-example/README.md
  packages/hive-js-domain-example/src/actors/content/ContentCommandActor.js
  packages/hive-js-domain-example/src/actors/content/ContentEventActor.js
  packages/hive-js-domain-example/src/actors/content/ContentQueryActor.js
  packages/hive-js-domain-example/src/actors/messages/CreateContentActor.js
  packages/hive-js-domain-example/src/actors/messages/DisableContentActor.js
  packages/hive-js-domain-example/src/actors/messages/EditContentActor.js
  packages/hive-js-domain-example/src/actors/messages/EnableContentActor.js
  packages/hive-js-domain-example/src/actors/messages/ViewContentActor.js
  packages/hive-js-rest-example/README.md
  packages/hive-js-rest-example/src/actors/ContentActor.js
  packages/hive-js-rest-example/src/actors/actions/DeleteContentActor.js
  packages/hive-js-rest-example/src/actors/actions/GetContentActor.js
  packages/hive-js-rest-example/src/actors/actions/PostContentActor.js
  packages/hive-js-rest-example/src/actors/actions/PutContentActor.js
Due: containers, examples

chore: updating project dependencies
  containers/hive-base-js/package.json
  containers/hive-consumer-js/package.json
  containers/hive-producer-js/package.json
  containers/hive-stream-processor-js/package.json
  package.json
  packages/hive-js-domain-example/package.json
  packages/hive-js-rest-example/package.json
Due: none

chore: updating service dependency versions
  dev/docker/domain/development/docker-compose.yml
  dev/docker/domain/example/Proxy.dockerfile
  dev/docker/domain/example/docker-compose.yml
  dev/docker/domain/production/docker-compose.yml
  dev/docker/rest/development/docker-compose.yml
  dev/docker/rest/example/docker-compose.yml
  dev/docker/rest/production/docker-compose.yml
  dev/proxy/Dockerfile
Due: none

chore: updating npm install scripts for example/production
  dev/docker/domain/example/Consumer.dockerfile
  dev/docker/domain/example/Producer.dockerfile
  dev/docker/domain/example/Rest.dockerfile
  dev/docker/domain/example/Stream-Processor.dockerfile
  dev/docker/domain/production/Consumer.dockerfile
  dev/docker/domain/production/Producer.dockerfile
  dev/docker/domain/production/Rest.dockerfile
  dev/docker/domain/production/Stream-Processor.dockerfile
  dev/docker/rest/example/Dockerfile
  dev/docker/rest/production/Dockerfile
Due: none

docs: updating example READMEs with improved npm install script
  packages/hive-js-domain-example/README.md
  packages/hive-js-rest-example/README.md
Due: none

chore: updating dependencies (fastify, opentelemetry, etc) (#43)
  containers/hive-base-js/package.json
  containers/hive-consumer-js/package.json
  containers/hive-producer-js/package.json
  containers/hive-stream-processor-js/package.json
  dev/docker/domain/development/docker-compose.yml
  dev/docker/domain/example/Consumer.dockerfile
  dev/docker/domain/example/Producer.dockerfile
  dev/docker/domain/example/Proxy.dockerfile
  dev/docker/domain/example/Rest.dockerfile
  dev/docker/domain/example/Stream-Processor.dockerfile
  dev/docker/domain/example/docker-compose.yml
  dev/docker/domain/production/Consumer.dockerfile
  dev/docker/domain/production/Producer.dockerfile
  dev/docker/domain/production/Rest.dockerfile
  dev/docker/domain/production/Stream-Processor.dockerfile
  dev/docker/domain/production/docker-compose.yml
  dev/docker/rest/development/docker-compose.yml
  dev/docker/rest/example/Dockerfile
  dev/docker/rest/example/docker-compose.yml
  dev/docker/rest/production/Dockerfile
  dev/docker/rest/production/docker-compose.yml
  dev/proxy/Dockerfile
  package.json
  packages/hive-js-domain-example/README.md
  packages/hive-js-domain-example/package.json
  packages/hive-js-rest-example/README.md
  packages/hive-js-rest-example/package.json
Due: none
